.main {
  width: 100vw;
  height: 100vh;
  background: #D7D7D7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightLogin {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #F9F9F9;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  position: relative;
  overflow: hidden;
}

.blob {
  background-image: url('../../../public/blob.svg');
  top: 0;
  width: 100%;
  transform: translateY(-60%);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.name{
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  z-index: 1;
  color: #F9F9F9;
}

.verified{
  margin: 50px;
  gap: 6px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.title {
  margin: 25px;
  font-weight: bold;
  font-size: 30px;
  z-index: 1;
  text-align: center;
  color: #F9F9F9;
}

.action{
  display: flex;
  width: 100%;
}

.card>h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.btnLogin {
  width: 100%;
  padding: 16px 0;
  margin: 25px;
  border: none;
  border-radius: 15px;
  outline: none;
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
  background: #0099CB;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #0095ff52;
}

.btnLogin:hover {
  background: #06568e;
}

@media only screen and (max-width: 950px) {
  .card
 {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .leftLogin>h1 {
    display: none;
  }

  .leftLogin {
    width: 100%;
    height: auto;
  }

  .rightLogin {
    width: 100%;
    height: auto;
  }

  .card
 {
    width: 90%;
  }
}